body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 14px;
    background-color: #F6F6F6;
    margin: 0;
    padding: 0;
}

h1{
    text-align:center;
    font-size:32px;
}

label {
    text-align:center;
}

button, input{
    font-family: inherit;
    font-size:inherit;
}

.container {
    display:flex;
    justify-content:center;
    gap: 16px;
}

.controls {
    display:flex;
    flex-direction:column;
    gap: 16px;
}

.controls > * {
    height: 45px;
    width: 120px;
}

.sketchboard {
    display:grid;
    height: 500px;
    width: 500px;
    border: 2px solid #000;
}

#small {
    margin-top: 30px;
}
