body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 18px;
    background-color: #F6F6F6;
    margin: 0;
}

h1 {
    text-align:center;
}

.container {
    display:flex;
    justify-content:center;
    gap: 16px;
}

.controls {
    display:flex;
    flex-direction:column;
    gap: 16px;
}

.controls > * {
    height: 48px;
    width: 120px;
}

.sketchboard {
    display:grid;
    height: 500px;
    width: 500px;
    border: 2px solid #000;
}